* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.colorDiv {
  float: left;
  margin: 10px;
  padding: 15px;
  border: 1px solid gray
}

.colorBlock {
  width: 100px;
  height: 50px;
}

.star {
  float: left;
  width:25px;
  height: 25px;
  margin-right: 5px;
  background-color: grey;
  clip-path: (
    0% 0%,
    70% 0%,
    100% 100%,
    0% 100%
  )
}
.selected {
  background-color: orangered;
}